* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.cardapio {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.cardapio #cont01 {
    background-color: aquamarine;
    width: 100%;
    padding: 0.8em;
}

#cont01 h1 {
    justify-self: center;
    color: blue;
}

.carrinho {

    background-color: aquamarine;
    padding: 1.4em;

}

main {
    padding-top: 5em;
}

.cardapio p {
    position: absolute;
    top: 0.5em;
    right: 1.5em;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardapio img {
    width: 30px;
}

.caixa-itens {
    max-width: 150px;
    text-align: center;
    padding: 0.2em;
}

.caixa-itens2 {
    max-width: 100%;
    transition: 0.3s;
}

.caixa-itens:hover {

    box-shadow: 0px 0px 10px 3px rgb(4, 4, 32);
    transform: scale(1.05);

}

.caixa-itens2 p {

    font-size: 0.8em;
}

i {
    font-size: 1.8em;
    padding: 0.1em;
    left: 0.0em;
    position: absolute;
    display: none;
}

.setcompra {
    display: none;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 2em;
    margin: 0.2em;
    flex-direction: column;    
}

.produtosCarrinho {

    width: 100%;
    height: auto;
    /* background-color: rgb(40, 40, 234); */
    padding: 0.5em;
   

}

.cont-pedidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    /* border: 0.1em solid red; */
    padding: 0.2em;
    margin-top: 0.6em;

}

.div_logImg {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 60%;
    /* border: 1px solid rgb(255, 255, 0); */
}

.div_logImg img {
    width: 60%;
    height: 60%;
    padding: 0.3em;
}

.div_cont_delete {
    margin: 0.3em;
    padding: 0.9em;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid rgb(242, 8, 149); */

}

.div_cont_delete p {
    font-size: 1.5rem;
    line-height: 1.2;
}

.div_contador{
    display: flex;
    width: 7em;
    padding: 0.3em;
    justify-content: space-around;
    align-items: center;
}

.div_contador img{
    font-size: 0.3em;
    width: 6em;
    padding: 0.3em;
    background-color: transparent;
}

.soma-total{
    width: 100%;
    display: none;
    padding: 0.3em;
    justify-content: space-around; 

}

.soma-total .cont-total{
    width: 25em;
    align-items: center;
    display: flex;
    padding: 0.9em;
    border-radius: 0.4em;
    background-color: rgba(244, 7, 7, 0.826);
    
}

.cont-total span{
    padding-left:1em ;
}

.cont-total div{
    width: 24%;
    margin: 0.7em;
    margin: auto;
}
.cont-total span{
    font-size: 1.3em;
}

.cont-bt{
    width:50%;
    border:0.1em solid rgb(10, 10, 10) ;
    border-radius: 0.3em;
}
.cont-bt button{
    position: relative;
    border: none;
    transform: translateY(-4px);
    box-shadow: 0px 4px 0px 2px rgba(0, 0, 0, 0.695);
    font-size: 1.4em;
    padding: 0.2em;
    border-radius: 0.3em;
}

.cont-bt button:active{
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.695);
    background-color: rgb(223, 85, 85);
    color: rgb(60, 157, 231);
}

@media (max-width: 768px) {

    .div_logImg img {
        width: 100%;
        height: 60%;
        padding: 0.3em;
    }

    .div_cont_delete p {
        font-size: 1.3rem;
        
    }
   
}


@media (max-width: 480px) {
    .caixa-itens {
        max-width: 110px;
        text-align: center;
        gap: 0.4em;

    }

    .div_logImg img {
        width: 100%;
        height: 60%;
        padding: 0.3em;
    }
    .soma-total .cont-total{
        width: 22em;
    }
    
   
}
/*  Bebidas  */

.bebidas_{
    display:flex;
    flex-wrap:wrap;
    gap: 0.3em;
}

.itens_bebidas{
    width: 150px;
    height:auto;
    border: 1px solid red;
    
}

.itens_bebidas img{
    width: 100%;
    padding: 0.3em;
}


